<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ben Jackson Blog</title>
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
</head>
<body>
  <header>
    <span class="logo">
      <a href="/">Ben Jackson</a>
    </span>
    <div class="subtitle">Software, Platforms, and Systems</div>
  </header>

  <main>
    <div class="blog-grid">
    {% for post in site.posts %}
      <a class="home-link" href="{{ post.url | relative_url }}">
      <div class="blog-post">
          <h2>{{ post.title }}</h2>
          <p>{{ post.date | date: "%B %d, %Y" }}</p>
      </div>
      </a>
    {% endfor %}
  </main>

  <footer class="site-footer">
    <p>© 2025–{{ "now" | date: "%Y" }} Ben Jackson. All rights reserved.</p>
  </footer>
</body>
</html>
